.subscribe-screen {
    background-color: var(--col-one)
}

.hide {
    position: absolute; 
    top:-1px; 
    left:-1px; 
    width:1px; 
    height:1px; 
}

.description {
    background-color: var(--col-five)
}