:root {
    --background-col: #ffffff;
    --dark-back-col:  #fafafa;
    --text-col:       #000000;

    --col-one:        #a1cdf4;
    --col-two:        #17bebb;
    --col-three:      #0eb1d2;
    --col-four:       #e56399;
}